<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Simple Score Keeper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./site.css" />
  </head>
  <body>


    <div class="container">
      <div class="team_1">
        <span class="text"><%= team_1 %></span>
      </div>
      <div class="team_2">
        <span class="text"><%= team_2 %></span>
      </div>
      <div class="time">
        <span class="text"><%= date %></span>
      </div>
    </div>

  </body>
</html>
